flows.json
[
    {
        "id": "2526c01.e3cb34",
        "type": "tab",
        "label": "Virtual_MR-J3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cc7fae7e.ad2a3",
        "type": "serial-port",
        "serialport": "/dev/ttyUSB1",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "even",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "10",
        "bin": "bin",
        "out": "interbyte",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "1d1d3768.b73049",
        "type": "serial-port",
        "serialport": "/dev/ttySIM0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "even",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "625872f.40b1e8c",
        "type": "ui_group",
        "name": "Default",
        "tab": "58c2aa06.ef46e4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "58c2aa06.ef46e4",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e9b00ce.4defdf",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "237da972.5d69a6",
        "type": "ui_group",
        "name": "ui-table with commands",
        "tab": "379a501f.53b59",
        "order": 1,
        "disp": true,
        "width": "17",
        "collapse": false
    },
    {
        "id": "c91332c0.50c11",
        "type": "ui_group",
        "name": "commands",
        "tab": "379a501f.53b59",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "379a501f.53b59",
        "type": "ui_tab",
        "name": "ui-table command",
        "icon": "fa-table",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ff9fdb9a.7da098",
        "type": "ui_group",
        "name": "TEST",
        "tab": "7dcc246f.ee661c",
        "order": 1,
        "disp": false,
        "width": "8",
        "collapse": false
    },
    {
        "id": "7dcc246f.ee661c",
        "type": "ui_tab",
        "name": "TEST",
        "icon": "dashboard",
        "order": 12,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "51ce6aa1.620754",
        "type": "ui_group",
        "name": "ui_control",
        "tab": "3b08fac0.8f06b6",
        "order": 1,
        "disp": true,
        "width": "22",
        "collapse": false
    },
    {
        "id": "3b08fac0.8f06b6",
        "type": "ui_tab",
        "name": "Home",
        "icon": "track_changes",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "75b88026.ea13d",
        "type": "debug",
        "z": "2526c01.e3cb34",
        "name": "RS232 Rx",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 110,
        "y": 320,
        "wires": []
    },
    {
        "id": "cb737bf3.f58ad8",
        "type": "serial in",
        "z": "2526c01.e3cb34",
        "name": "RS232 Rx",
        "serial": "cc7fae7e.ad2a3",
        "x": 100,
        "y": 260,
        "wires": [
            [
                "75b88026.ea13d",
                "7364fe42.159b7"
            ]
        ]
    },
    {
        "id": "8d0f4233.7ed23",
        "type": "serial out",
        "z": "2526c01.e3cb34",
        "name": "RS232 Tx",
        "serial": "cc7fae7e.ad2a3",
        "x": 960,
        "y": 820,
        "wires": []
    },
    {
        "id": "fe23cbaf.cca308",
        "type": "delay",
        "z": "2526c01.e3cb34",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 810,
        "y": 820,
        "wires": [
            [
                "8d0f4233.7ed23"
            ]
        ]
    },
    {
        "id": "94f0a46d.c8da28",
        "type": "debug",
        "z": "2526c01.e3cb34",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 490,
        "y": 120,
        "wires": []
    },
    {
        "id": "5f8b00c2.a4e16",
        "type": "buffer-parser",
        "z": "2526c01.e3cb34",
        "name": "M:Data Req",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "byte",
                "name": "SOH",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Sta",
                "offset": 1,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Cmd",
                "offset": 2,
                "length": 2,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "STX",
                "offset": 4,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "DataNo",
                "offset": 5,
                "length": 2,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "ETX",
                "offset": 7,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Chk",
                "offset": 8,
                "length": 2,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "object",
        "resultTypeType": "output",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 310,
        "y": 120,
        "wires": [
            [
                "94f0a46d.c8da28",
                "1cdd4222.d0150e",
                "af9600df.f2a21",
                "9cd53aea.5d9bb8",
                "2fd2d0d4.14b59",
                "9ba0bcb5.f5fba",
                "23f23cd9.9bb824",
                "abcc933a.e9f52",
                "6df5a619.591488",
                "8a689913.23bcb8",
                "203c5272.b6068e",
                "b4ad5305.4c058",
                "7bc8cc12.a67ff4",
                "26b78898.974a58"
            ]
        ]
    },
    {
        "id": "7364fe42.159b7",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "SOH|STX",
        "func": "if (msg.payload[0]==flow.get('SOH')){\n    return [msg, null, null];\n}else if (msg.payload[0]==flow.get('STX')){\n    return [null, msg, null];\n}else if (msg.payload[0]==flow.get('EOT')){\n    msg.payload='EOT';\n    return [null, null, msg];\n}",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 100,
        "y": 200,
        "wires": [
            [
                "666dfdf4.3ad5f4"
            ],
            [],
            [
                "804ecdb.fdffe3"
            ]
        ]
    },
    {
        "id": "d42a45cb.34c828",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "Global Defines",
        "func": "\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\nflow.set(\"SOH\",0x1);\nflow.set(\"STX\",0x2);\nflow.set(\"ETX\",0x3);\nflow.set(\"EOT\",0x4);",
        "finalize": "",
        "x": 100,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "6883651.9b48b9c",
        "type": "buffer-parser",
        "z": "2526c01.e3cb34",
        "name": "M:Data4",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "byte",
                "name": "SOH",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Sta",
                "offset": 1,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Cmd",
                "offset": 2,
                "length": 2,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "STX",
                "offset": 4,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "DataNo",
                "offset": 5,
                "length": 2,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Data",
                "offset": 7,
                "length": 4,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "ETX",
                "offset": 11,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Chk",
                "offset": 12,
                "length": 2,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "object",
        "resultTypeType": "output",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 300,
        "y": 160,
        "wires": [
            [
                "4069043b.187f0c",
                "d9e2a9af.599588",
                "bd9cfd8f.53102",
                "59386d44.566e14",
                "d7a4ad2.42aab5"
            ]
        ]
    },
    {
        "id": "c5dee0a1.bbb56",
        "type": "buffer-parser",
        "z": "2526c01.e3cb34",
        "name": "M:Data8",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "byte",
                "name": "SOH",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Sta",
                "offset": 1,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Cmd",
                "offset": 2,
                "length": 2,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "STX",
                "offset": 4,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "DataNo",
                "offset": 5,
                "length": 2,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Data",
                "offset": 7,
                "length": 8,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "ETX",
                "offset": 15,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Chk",
                "offset": 16,
                "length": 2,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "output",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 300,
        "y": 200,
        "wires": [
            [
                "8dc59b9f.3374d8",
                "bd9cfd8f.53102"
            ]
        ]
    },
    {
        "id": "1b080179.7354bf",
        "type": "buffer-parser",
        "z": "2526c01.e3cb34",
        "name": "M:Data12",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "byte",
                "name": "SOH",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Sta",
                "offset": 1,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Cmd",
                "offset": 2,
                "length": 2,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "STX",
                "offset": 4,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "DataNo",
                "offset": 5,
                "length": 2,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Data",
                "offset": 10,
                "length": 12,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "ETX",
                "offset": 7,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Chk",
                "offset": 8,
                "length": 2,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "output",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 300,
        "y": 240,
        "wires": [
            [
                "d118e8bc.5115a8",
                "bd9cfd8f.53102"
            ]
        ]
    },
    {
        "id": "e1687332.023c9",
        "type": "buffer-parser",
        "z": "2526c01.e3cb34",
        "name": "M:Data16",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "byte",
                "name": "SOH",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Sta",
                "offset": 1,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Cmd",
                "offset": 2,
                "length": 2,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "STX",
                "offset": 4,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "DataNo",
                "offset": 5,
                "length": 2,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Data",
                "offset": 7,
                "length": 16,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "ETX",
                "offset": 24,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Chk",
                "offset": 25,
                "length": 2,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "output",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 300,
        "y": 280,
        "wires": [
            [
                "538ad41f.5b87ec",
                "bd9cfd8f.53102"
            ]
        ]
    },
    {
        "id": "666dfdf4.3ad5f4",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "M. 0|4|8|12|16",
        "func": "data=msg.payload.slice(7,-3);\n\nif (data.length==0){\n    return [msg, null, null, null,null];\n}else if (data.length==4){\n    return [null, msg, null, null, null];\n}else if (data.length==8){\n    return [null, null, msg, null, null];\n}else if (data.length==12){\n    return [null, null, null, msg, null];\n}else if (data.length==16){\n    return [null, null, null, null, msg];\n}",
        "outputs": 5,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "5f8b00c2.a4e16"
            ],
            [
                "6883651.9b48b9c"
            ],
            [
                "c5dee0a1.bbb56"
            ],
            [
                "1b080179.7354bf"
            ],
            [
                "e1687332.023c9"
            ]
        ]
    },
    {
        "id": "4069043b.187f0c",
        "type": "debug",
        "z": "2526c01.e3cb34",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 490,
        "y": 160,
        "wires": []
    },
    {
        "id": "8dc59b9f.3374d8",
        "type": "debug",
        "z": "2526c01.e3cb34",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 490,
        "y": 200,
        "wires": []
    },
    {
        "id": "d118e8bc.5115a8",
        "type": "debug",
        "z": "2526c01.e3cb34",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 490,
        "y": 240,
        "wires": []
    },
    {
        "id": "538ad41f.5b87ec",
        "type": "debug",
        "z": "2526c01.e3cb34",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 490,
        "y": 280,
        "wires": []
    },
    {
        "id": "1cdd4222.d0150e",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "Cmd==02",
        "func": "v = msg.payload.Cmd.value;\nif (v=='02'){\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 100,
        "y": 640,
        "wires": [
            [
                "f2fa0061.9496d",
                "21b8e978.13e986",
                "ed427256.a3a68",
                "6cda80d0.cd29c",
                "21f1277c.210338",
                "6230229e.78482c",
                "d6f35762.48d368"
            ]
        ]
    },
    {
        "id": "f2fa0061.9496d",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "02.70",
        "func": "v = msg.payload.DataNo.value;\nif (v=='70'){\n    msg.data=' '+'0'.repeat(13)+'A0';\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 110,
        "y": 720,
        "wires": [
            [
                "6f2429ec.db07b8"
            ]
        ]
    },
    {
        "id": "21b8e978.13e986",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "02.90",
        "func": "v = msg.payload.DataNo.value;\nif (v=='90'){\n    msg.data='0'.repeat(8);\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 110,
        "y": 760,
        "wires": [
            [
                "6f2429ec.db07b8"
            ]
        ]
    },
    {
        "id": "ed427256.a3a68",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "02.91",
        "func": "v = msg.payload.DataNo.value;\nif (v=='91'){\n    msg.data='0'.repeat(8);\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 110,
        "y": 800,
        "wires": [
            [
                "6f2429ec.db07b8"
            ]
        ]
    },
    {
        "id": "6cda80d0.cd29c",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "02.00",
        "func": "v = msg.payload.DataNo.value;\nif (v=='00'){\n    msg.data='00FF';\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 110,
        "y": 680,
        "wires": [
            [
                "6f2429ec.db07b8"
            ]
        ]
    },
    {
        "id": "af9600df.f2a21",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "Cmd==35",
        "func": "v = msg.payload.Cmd.value;\nif (v=='35'){\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 100,
        "y": 1540,
        "wires": [
            [
                "281bc662.df17ca",
                "34cf803.57ec48"
            ]
        ]
    },
    {
        "id": "281bc662.df17ca",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "35.0x",
        "func": "n = msg.payload.DataNo.value;\nv = parseInt(n, 16);\n\nif (v>=0x00 && v<=0x0e){\n    msg.data='0001' + '0'.repeat(8) + msg.payload.Cmd.value + n ;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 110,
        "y": 1580,
        "wires": [
            [
                "6f2429ec.db07b8"
            ]
        ]
    },
    {
        "id": "9cd53aea.5d9bb8",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "Cmd==33",
        "func": "v = msg.payload.Cmd.value;\nif (v=='33'){\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 100,
        "y": 1400,
        "wires": [
            [
                "4b066309.42055c",
                "f7f17b2f.4fc218"
            ]
        ]
    },
    {
        "id": "4b066309.42055c",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "33.1x",
        "func": "v = parseInt(msg.payload.DataNo.value, 16);\nif (v>=0x10 && v<=0x15){\n    msg.data='00FF';\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 110,
        "y": 1440,
        "wires": [
            [
                "6f2429ec.db07b8"
            ]
        ]
    },
    {
        "id": "f7f17b2f.4fc218",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "33.2x",
        "func": "v = parseInt(msg.payload.DataNo.value, 16);\nif (v>=0x20 && v<=0x25){\n    msg.data='000001F5';\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 110,
        "y": 1480,
        "wires": [
            [
                "6f2429ec.db07b8"
            ]
        ]
    },
    {
        "id": "2fd2d0d4.14b59",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "Cmd==00",
        "func": "v = msg.payload.Cmd.value;\nif (v=='00'){\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 100,
        "y": 440,
        "wires": [
            [
                "9bddedc1.86755",
                "c7bfaa5f.ae04d8"
            ]
        ]
    },
    {
        "id": "9bddedc1.86755",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "00.12",
        "func": "v = msg.payload.DataNo.value;\nif (v=='12'){\n    msg.data='0004';\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 110,
        "y": 480,
        "wires": [
            [
                "6f2429ec.db07b8"
            ]
        ]
    },
    {
        "id": "9ba0bcb5.f5fba",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "Cmd==12",
        "func": "v = msg.payload.Cmd.value;\nif (v=='12'){\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 100,
        "y": 1300,
        "wires": [
            [
                "8636cd5c.a20ce"
            ]
        ]
    },
    {
        "id": "8636cd5c.a20ce",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "12.x0",
        "func": "c = msg.payload.Cmd.value;\nn = msg.payload.DataNo.value;\nv = n;\nswitch(v){\n    case '00':\n    case '40':\n    case '60':\n    case '80':\n    case 'C0':\n      msg.data='0000' + c + v;\n      return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 90,
        "y": 1340,
        "wires": [
            [
                "6f2429ec.db07b8"
            ]
        ]
    },
    {
        "id": "23f23cd9.9bb824",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "Cmd==05",
        "func": "v = msg.payload.Cmd.value;\nif (v=='05'){\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 100,
        "y": 920,
        "wires": [
            [
                "9d7817ae.002b68"
            ]
        ]
    },
    {
        "id": "9d7817ae.002b68",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "05.xx",
        "func": "v = msg.payload.DataNo.value;\nif (v!=='00'){\n    msg.data='01FFF0' + v;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 110,
        "y": 960,
        "wires": [
            [
                "6f2429ec.db07b8"
            ]
        ]
    },
    {
        "id": "abcc933a.e9f52",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "Cmd==06",
        "func": "v = msg.payload.Cmd.value;\nif (v=='06'){\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 100,
        "y": 1000,
        "wires": [
            [
                "9916f25.03c0f1"
            ]
        ]
    },
    {
        "id": "9916f25.03c0f1",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "06.xx",
        "func": "c = msg.payload.Cmd.value;\nv = msg.payload.DataNo.value;\nmsg.data='0000' + c + v;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 110,
        "y": 1040,
        "wires": [
            [
                "6f2429ec.db07b8"
            ]
        ]
    },
    {
        "id": "6df5a619.591488",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "Cmd==07",
        "func": "v = msg.payload.Cmd.value;\nif (v=='07'){\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 100,
        "y": 1080,
        "wires": [
            [
                "d8304869.f451b8"
            ]
        ]
    },
    {
        "id": "d8304869.f451b8",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "07.xx",
        "func": "c = msg.payload.Cmd.value;\nv = msg.payload.DataNo.value;\nmsg.data='0000' + c + v;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 110,
        "y": 1120,
        "wires": [
            [
                "6f2429ec.db07b8"
            ]
        ]
    },
    {
        "id": "8a689913.23bcb8",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "Cmd==08",
        "func": "v = msg.payload.Cmd.value;\nif (v=='08'){\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 100,
        "y": 1160,
        "wires": [
            [
                "cc1c41f2.c4eb3"
            ]
        ]
    },
    {
        "id": "cc1c41f2.c4eb3",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "08.xx",
        "func": "c = msg.payload.Cmd.value;\nv = msg.payload.DataNo.value;\nif (v!=='00'){\n    msg.data='0'.repeat(8) + c + v;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 110,
        "y": 1198,
        "wires": [
            [
                "6f2429ec.db07b8"
            ]
        ]
    },
    {
        "id": "203c5272.b6068e",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "Cmd==04",
        "func": "v = msg.payload.Cmd.value;\nif (v=='04'){\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 100,
        "y": 840,
        "wires": [
            [
                "2be221dc.7241ee",
                "3af2b41a.fcb21c"
            ]
        ]
    },
    {
        "id": "2be221dc.7241ee",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "04.01",
        "func": "c = msg.payload.Cmd.value;\nv = msg.payload.DataNo.value;\nif (v=='01'){\n    msg.data='0000';\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 110,
        "y": 878,
        "wires": [
            [
                "6f2429ec.db07b8"
            ]
        ]
    },
    {
        "id": "b4ad5305.4c058",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "Cmd==01",
        "func": "v = msg.payload.Cmd.value;\nif (v=='01'){\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 100,
        "y": 520,
        "wires": [
            [
                "b7e37537.935c78",
                "8b0c1b49.8d2048"
            ]
        ]
    },
    {
        "id": "b7e37537.935c78",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "01.0x",
        "func": "c = msg.payload.Cmd.value;\nn = msg.payload.DataNo.value;\nv = parseInt(n, 16);\nif (v>=0x00 && v<=0x0e){\n    msg.data='0'.repeat(12) + c + n;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 90,
        "y": 560,
        "wires": [
            [
                "6f2429ec.db07b8"
            ]
        ]
    },
    {
        "id": "8b0c1b49.8d2048",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "01.8x",
        "func": "c = msg.payload.Cmd.value;\nn = msg.payload.DataNo.value;\nv = parseInt(n, 16);\nif (v>=0x80 && v<=0x8e){\n    msg.data='0'.repeat(8) + c + n;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 90,
        "y": 600,
        "wires": [
            [
                "6f2429ec.db07b8"
            ]
        ]
    },
    {
        "id": "1ed93eb6.f83181",
        "type": "debug",
        "z": "2526c01.e3cb34",
        "name": "Format Response",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 700,
        "wires": []
    },
    {
        "id": "6f2429ec.db07b8",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "Format Response",
        "func": "var sta = Buffer.from(msg.payload.Sta.value);\nvar err = Buffer.from('A');\nvar stx = Buffer.from([flow.get('STX')]);\nvar etx = Buffer.from([flow.get('ETX')]);\nvar data = Buffer.from(msg.data);\nvar content = Buffer.concat([sta, err, data, etx]);\nvar sum = function(prev, cur){return prev+cur;}\nvar checksum = content.reduce(sum) & 0xff;\nchk = Buffer.from(checksum.toString(16).toUpperCase());\nmsg.payload = Buffer.concat([stx, content, chk]);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 370,
        "y": 720,
        "wires": [
            [
                "1ed93eb6.f83181",
                "7228c952.4e3d08",
                "4e1e16c8.c0b818"
            ]
        ]
    },
    {
        "id": "34cf803.57ec48",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "35.8x",
        "func": "n = msg.payload.DataNo.value;\nv = parseInt(n, 16);\n\nif (v>=0x80 && v<=0x8e){\n    msg.data='0001' + '0'.repeat(4) + msg.payload.Cmd.value + n ;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 110,
        "y": 1620,
        "wires": [
            [
                "6f2429ec.db07b8"
            ]
        ]
    },
    {
        "id": "7bc8cc12.a67ff4",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "Cmd==81",
        "func": "v = msg.payload.Cmd.value;\nif (v=='81'){\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 100,
        "y": 1680,
        "wires": [
            [
                "a2369f87.ccd91"
            ]
        ]
    },
    {
        "id": "a2369f87.ccd91",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "81.00",
        "func": "v = msg.payload.DataNo.value;\n\nif (v=='00'){\n    msg.data='1EA5';\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 110,
        "y": 1720,
        "wires": [
            [
                "6f2429ec.db07b8"
            ]
        ]
    },
    {
        "id": "21f1277c.210338",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "02.2x",
        "func": "v = msg.payload.DataNo.value;\nif (v.match(/2[0-9]/)){\n    msg.data='0'.repeat(16);\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 370,
        "y": 600,
        "wires": [
            [
                "6f2429ec.db07b8"
            ]
        ]
    },
    {
        "id": "c7bfaa5f.ae04d8",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "00.01",
        "func": "v = msg.payload.DataNo.value;\nif (v=='01'){\n    msg.data='0001';\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 390,
        "y": 500,
        "wires": [
            [
                "6f2429ec.db07b8"
            ]
        ]
    },
    {
        "id": "d9e2a9af.599588",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "Cmd==85",
        "func": "v = msg.payload.Cmd.value;\nif (v=='85'){\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 360,
        "y": 1080,
        "wires": [
            [
                "efbebc2b.1c26b"
            ]
        ]
    },
    {
        "id": "efbebc2b.1c26b",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "85.00",
        "func": "v = msg.payload.DataNo.value;\n\nif (v=='00'){\n    msg.data='';\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 370,
        "y": 1120,
        "wires": [
            [
                "6f2429ec.db07b8"
            ]
        ]
    },
    {
        "id": "3af2b41a.fcb21c",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "04.02",
        "func": "c = msg.payload.Cmd.value;\nv = msg.payload.DataNo.value;\nif (v=='02'){\n    msg.data='0000';\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 530,
        "y": 960,
        "wires": [
            [
                "6f2429ec.db07b8"
            ]
        ]
    },
    {
        "id": "26b78898.974a58",
        "type": "template",
        "z": "2526c01.e3cb34",
        "name": "Cmd w/o data",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "[{{payload.Cmd.value.0}}][{{payload.Cmd.value.1}}].[{{payload.DataNo.value.0}}][{{payload.DataNo.value.1}}]",
        "output": "str",
        "x": 680,
        "y": 40,
        "wires": [
            [
                "c0040bae.e9a918"
            ]
        ]
    },
    {
        "id": "c0040bae.e9a918",
        "type": "debug",
        "z": "2526c01.e3cb34",
        "name": "In Frame",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 860,
        "y": 40,
        "wires": []
    },
    {
        "id": "bd9cfd8f.53102",
        "type": "template",
        "z": "2526c01.e3cb34",
        "name": "Cmd w/ data",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "[{{payload.Cmd.value.0}}][{{payload.Cmd.value.1}}].[{{payload.DataNo.value.0}}][{{payload.DataNo.value.1}}]\n{{payload.Data.name}}={{payload.Data.value}}",
        "output": "str",
        "x": 670,
        "y": 80,
        "wires": [
            [
                "c0040bae.e9a918"
            ]
        ]
    },
    {
        "id": "6230229e.78482c",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "02.6x",
        "func": "v = msg.payload.DataNo.value;\nif (v.match(/6[0-9]/)){\n    msg.data='0'.repeat(8);\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 530,
        "y": 620,
        "wires": [
            [
                "6f2429ec.db07b8"
            ]
        ]
    },
    {
        "id": "be9ff98.9c5d708",
        "type": "buffer-parser",
        "z": "2526c01.e3cb34",
        "name": "S. Data4",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "byte",
                "name": "STX",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Sta",
                "offset": 1,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Err",
                "offset": 2,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Data",
                "offset": 3,
                "length": 4,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "ETX",
                "offset": 7,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Chk",
                "offset": 8,
                "length": 2,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "object",
        "resultTypeType": "output",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 840,
        "y": 420,
        "wires": [
            [
                "5d980abe.eabde4"
            ]
        ]
    },
    {
        "id": "7228c952.4e3d08",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "S. 0|4|8|12|16",
        "func": "data=msg.payload.slice(3,-3);\n\nif (data.length==0){\n    return [msg, null, null, null,null];\n}else if (data.length==4){\n    return [null, msg, null, null, null];\n}else if (data.length==8){\n    return [null, null, msg, null, null];\n}else if (data.length==12){\n    return [null, null, null, msg, null];\n}else if (data.length==16){\n    return [null, null, null, null, msg];\n}",
        "outputs": 5,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 640,
        "y": 460,
        "wires": [
            [
                "92d0db52.25bfd8"
            ],
            [
                "be9ff98.9c5d708"
            ],
            [
                "c82436d9.fccca8"
            ],
            [
                "321ce2f8.c34b7e"
            ],
            [
                "9d6f5cf9.c7dd9"
            ]
        ]
    },
    {
        "id": "c82436d9.fccca8",
        "type": "buffer-parser",
        "z": "2526c01.e3cb34",
        "name": "S. Data8",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "byte",
                "name": "STX",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Sta",
                "offset": 1,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Err",
                "offset": 2,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Data",
                "offset": 3,
                "length": 8,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "ETX",
                "offset": 11,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Chk",
                "offset": 12,
                "length": 2,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "object",
        "resultTypeType": "output",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 840,
        "y": 460,
        "wires": [
            [
                "5d980abe.eabde4"
            ]
        ]
    },
    {
        "id": "321ce2f8.c34b7e",
        "type": "buffer-parser",
        "z": "2526c01.e3cb34",
        "name": "S. Data12",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "byte",
                "name": "STX",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Sta",
                "offset": 1,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Err",
                "offset": 2,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Data",
                "offset": 3,
                "length": 12,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "ETX",
                "offset": 15,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Chk",
                "offset": 16,
                "length": 2,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "object",
        "resultTypeType": "output",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 840,
        "y": 500,
        "wires": [
            [
                "5d980abe.eabde4"
            ]
        ]
    },
    {
        "id": "9d6f5cf9.c7dd9",
        "type": "buffer-parser",
        "z": "2526c01.e3cb34",
        "name": "S. Data16",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "byte",
                "name": "STX",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Sta",
                "offset": 1,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Err",
                "offset": 2,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Data",
                "offset": 3,
                "length": 16,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "ETX",
                "offset": 19,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Chk",
                "offset": 20,
                "length": 2,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "object",
        "resultTypeType": "output",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 840,
        "y": 540,
        "wires": [
            [
                "5d980abe.eabde4"
            ]
        ]
    },
    {
        "id": "92d0db52.25bfd8",
        "type": "buffer-parser",
        "z": "2526c01.e3cb34",
        "name": "S. Data0",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "byte",
                "name": "STX",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Sta",
                "offset": 1,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Err",
                "offset": 2,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "ETX",
                "offset": 3,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Chk",
                "offset": 4,
                "length": 2,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "object",
        "resultTypeType": "output",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 840,
        "y": 380,
        "wires": [
            [
                "f5613a1d.743a78"
            ]
        ]
    },
    {
        "id": "5d980abe.eabde4",
        "type": "template",
        "z": "2526c01.e3cb34",
        "name": "Err w/ data",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.Err.name}}={{payload.Err.value}}\n{{payload.Data.name}}={{payload.Data.value}}",
        "output": "str",
        "x": 1030,
        "y": 420,
        "wires": [
            [
                "bdf28f1c.6b562"
            ]
        ]
    },
    {
        "id": "f5613a1d.743a78",
        "type": "template",
        "z": "2526c01.e3cb34",
        "name": "Err w/o data",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.Err.name}}={{payload.Err.value}}",
        "output": "str",
        "x": 1030,
        "y": 380,
        "wires": [
            [
                "bdf28f1c.6b562"
            ]
        ]
    },
    {
        "id": "bdf28f1c.6b562",
        "type": "debug",
        "z": "2526c01.e3cb34",
        "name": "Out Frame",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1230,
        "y": 380,
        "wires": []
    },
    {
        "id": "59386d44.566e14",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "Cmd==8B",
        "func": "v = msg.payload.Cmd.value;\nif (v=='8B'){\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 360,
        "y": 1160,
        "wires": [
            [
                "696b778a.1fd128"
            ]
        ]
    },
    {
        "id": "696b778a.1fd128",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "8B.00",
        "func": "v = msg.payload.DataNo.value;\n\nif (v=='00'){\n    msg.data='';\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 370,
        "y": 1200,
        "wires": [
            [
                "6f2429ec.db07b8"
            ]
        ]
    },
    {
        "id": "10d4a47a.3363fc",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "No Data",
        "func": "v = msg.payload.DataNo.value;\n\nmsg.data='';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 1100,
        "wires": [
            [
                "6f2429ec.db07b8"
            ]
        ]
    },
    {
        "id": "d7a4ad2.42aab5",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "Cmd==90",
        "func": "v = msg.payload.Cmd.value;\nif (v=='8B'){\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 360,
        "y": 1240,
        "wires": [
            [
                "10d4a47a.3363fc"
            ]
        ]
    },
    {
        "id": "d6f35762.48d368",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "02.1x",
        "func": "v = msg.payload.DataNo.value;\nif (v.match(/1[0-9]/)){\n    msg.data='0'.repeat(8);\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 590,
        "y": 560,
        "wires": [
            [
                "6f2429ec.db07b8"
            ]
        ]
    },
    {
        "id": "804ecdb.fdffe3",
        "type": "debug",
        "z": "2526c01.e3cb34",
        "name": "EOT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 470,
        "y": 340,
        "wires": []
    },
    {
        "id": "bbd2454.ca4c3b8",
        "type": "inject",
        "z": "2526c01.e3cb34",
        "name": "Toggle Tx",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Toggle Tx",
        "payload": "",
        "payloadType": "date",
        "x": 960,
        "y": 880,
        "wires": [
            [
                "4e1e16c8.c0b818"
            ]
        ]
    },
    {
        "id": "4e1e16c8.c0b818",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "Tx Switch",
        "func": "var v = context.get('DisableTx');\n\nif (msg.topic=='Toggle Tx'){\n    if (!v)\n        node.status({fill:\"red\",shape:\"ring\",text:\"disconnected\"});\n    else\n        node.status({fill:\"green\",shape:\"dot\",text:\"connected\"});\n        \n    context.set('DisableTx', !v);\n}else if (!v){\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"DisableTx\", false);\nnode.status({fill:\"green\",shape:\"dot\",text:\"connected\"});",
        "finalize": "",
        "x": 660,
        "y": 820,
        "wires": [
            [
                "fe23cbaf.cca308"
            ]
        ]
    }
]