flows.json
[
    {
        "id": "2526c01.e3cb34",
        "type": "tab",
        "label": "Virtual_MR-J3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cc7fae7e.ad2a3",
        "type": "serial-port",
        "serialport": "/dev/ttyUSB1",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "even",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "10",
        "bin": "bin",
        "out": "interbyte",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "1d1d3768.b73049",
        "type": "serial-port",
        "serialport": "/dev/ttySIM0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "even",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "625872f.40b1e8c",
        "type": "ui_group",
        "name": "Default",
        "tab": "58c2aa06.ef46e4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "58c2aa06.ef46e4",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e9b00ce.4defdf",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "237da972.5d69a6",
        "type": "ui_group",
        "name": "ui-table with commands",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "17",
        "collapse": false
    },
    {
        "id": "c91332c0.50c11",
        "type": "ui_group",
        "name": "commands",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ff9fdb9a.7da098",
        "type": "ui_group",
        "name": "TEST",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "8",
        "collapse": false
    },
    {
        "id": "51ce6aa1.620754",
        "type": "ui_group",
        "name": "ui_control",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "22",
        "collapse": false
    },
    {
        "id": "62fab1b3.8bdc3",
        "type": "mqtt-broker",
        "name": "mqtt@utils",
        "broker": "utils.clpham.internal",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "fb69a6a5.d14a",
        "type": "mqtt-broker",
        "name": "mqtt@localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "aa4043c2.6a1ef8",
        "type": "mqtt-broker",
        "broker": "broker.shiftr.io",
        "port": "1883",
        "clientid": "input->",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "1e1e7393.973264",
        "type": "mqtt-broker",
        "name": "mqtt@utils",
        "broker": "utils.clpham.internal",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "b04e7681.6fc4a",
        "type": "mqtt-broker",
        "broker": "localhost",
        "port": "8883",
        "tls": "4a6078de.6540e8",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "d4e53eb.b0f5cc",
        "type": "mqtt-broker",
        "broker": "broker.shiftr.io",
        "port": "1883",
        "clientid": "sensors->",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "7aba42bb.ae04bc",
        "type": "mqtt-broker",
        "name": "mqtt@utils",
        "broker": "utils.clpham.internal",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "2dee2e04.7cf00a",
        "type": "ui_group",
        "name": "Test Messages",
        "tab": "721af69.d130208",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": false
    },
    {
        "id": "721af69.d130208",
        "type": "ui_tab",
        "name": "Demo",
        "icon": "dashboard"
    },
    {
        "id": "435d299e.91f718",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "7ac377c5.e6ac08",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "7ac377c5.e6ac08",
        "type": "ui_tab",
        "name": "Tab1",
        "icon": "dashboard"
    },
    {
        "id": "e68a1b8a.416f18",
        "type": "ui_group",
        "name": "Default",
        "tab": "6952137b.75c85c",
        "order": 1,
        "disp": false,
        "width": "24",
        "collapse": false
    },
    {
        "id": "6952137b.75c85c",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard"
    },
    {
        "id": "cce9f607.043b7",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.158",
        "port": "1883",
        "clientid": "test-client",
        "usetls": false,
        "compatmode": true,
        "keepalive": "120",
        "cleansession": true,
        "birthTopic": "sensors/connected/test-client",
        "birthQos": "0",
        "birthRetain": "true",
        "birthPayload": "1",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "sensors/connected/test-client",
        "willQos": "0",
        "willRetain": "true",
        "willPayload": "0"
    },
    {
        "id": "8130ac76.081eb8",
        "type": "ui_group",
        "name": "Control",
        "tab": "3d343106.1cdade",
        "order": 1,
        "disp": true,
        "width": "4",
        "collapse": false
    },
    {
        "id": "7efb4fcd.d113d8",
        "type": "ui_group",
        "name": "Status",
        "tab": "3d343106.1cdade",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3d343106.1cdade",
        "type": "ui_tab",
        "name": "Logger",
        "icon": "dashboard"
    },
    {
        "id": "b8630066.5d446",
        "type": "ui_group",
        "name": "One dimension Array",
        "tab": "f9ac9e91.20e588",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f9ac9e91.20e588",
        "type": "ui_tab",
        "name": "Table Examples",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "75b88026.ea13d",
        "type": "debug",
        "z": "2526c01.e3cb34",
        "name": "RS232 Rx",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 110,
        "y": 320,
        "wires": []
    },
    {
        "id": "cb737bf3.f58ad8",
        "type": "serial in",
        "z": "2526c01.e3cb34",
        "name": "RS232 Rx",
        "serial": "cc7fae7e.ad2a3",
        "x": 100,
        "y": 260,
        "wires": [
            [
                "75b88026.ea13d",
                "7364fe42.159b7"
            ]
        ]
    },
    {
        "id": "8d0f4233.7ed23",
        "type": "serial out",
        "z": "2526c01.e3cb34",
        "name": "RS232 Tx",
        "serial": "cc7fae7e.ad2a3",
        "x": 1400,
        "y": 880,
        "wires": []
    },
    {
        "id": "fe23cbaf.cca308",
        "type": "delay",
        "z": "2526c01.e3cb34",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 1250,
        "y": 880,
        "wires": [
            [
                "8d0f4233.7ed23"
            ]
        ]
    },
    {
        "id": "94f0a46d.c8da28",
        "type": "debug",
        "z": "2526c01.e3cb34",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 490,
        "y": 120,
        "wires": []
    },
    {
        "id": "5f8b00c2.a4e16",
        "type": "buffer-parser",
        "z": "2526c01.e3cb34",
        "name": "M:Data Req",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "byte",
                "name": "SOH",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Sta",
                "offset": 1,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Cmd",
                "offset": 2,
                "length": 2,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "STX",
                "offset": 4,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "DataNo",
                "offset": 5,
                "length": 2,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "ETX",
                "offset": 7,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Chk",
                "offset": 8,
                "length": 2,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "object",
        "resultTypeType": "output",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 310,
        "y": 120,
        "wires": [
            [
                "94f0a46d.c8da28",
                "1cdd4222.d0150e",
                "af9600df.f2a21",
                "9cd53aea.5d9bb8",
                "2fd2d0d4.14b59",
                "9ba0bcb5.f5fba",
                "23f23cd9.9bb824",
                "abcc933a.e9f52",
                "6df5a619.591488",
                "8a689913.23bcb8",
                "203c5272.b6068e",
                "b4ad5305.4c058",
                "7bc8cc12.a67ff4",
                "26b78898.974a58"
            ]
        ]
    },
    {
        "id": "7364fe42.159b7",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "SOH|STX",
        "func": "if (msg.payload[0]==flow.get('SOH')){\n    return [msg, null, null];\n}else if (msg.payload[0]==flow.get('STX')){\n    return [null, msg, null];\n}else if (msg.payload[0]==flow.get('EOT')){\n    msg.payload='EOT';\n    return [null, null, msg];\n}",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 100,
        "y": 200,
        "wires": [
            [
                "666dfdf4.3ad5f4"
            ],
            [],
            [
                "804ecdb.fdffe3",
                "5b97fca2.8dd974"
            ]
        ]
    },
    {
        "id": "d42a45cb.34c828",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "Global Defines",
        "func": "\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\nflow.set(\"SOH\",0x1);\nflow.set(\"STX\",0x2);\nflow.set(\"ETX\",0x3);\nflow.set(\"EOT\",0x4);\n\n/*** [][] of unique members ***/\nflow.set('84.0x', new Array(4).fill(null).map(()=> (new Array(13).fill(null).map(()=> ('0'.repeat(8))))));\n\nflow.set(\"85.0x\", ['0000','0000','0000','0000']);",
        "finalize": "",
        "x": 100,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "6883651.9b48b9c",
        "type": "buffer-parser",
        "z": "2526c01.e3cb34",
        "name": "M:Data4",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "byte",
                "name": "SOH",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Sta",
                "offset": 1,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Cmd",
                "offset": 2,
                "length": 2,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "STX",
                "offset": 4,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "DataNo",
                "offset": 5,
                "length": 2,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Data",
                "offset": 7,
                "length": 4,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "ETX",
                "offset": 11,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Chk",
                "offset": 12,
                "length": 2,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "object",
        "resultTypeType": "output",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 300,
        "y": 160,
        "wires": [
            [
                "4069043b.187f0c",
                "d9e2a9af.599588",
                "bd9cfd8f.53102",
                "59386d44.566e14",
                "d7a4ad2.42aab5"
            ]
        ]
    },
    {
        "id": "c5dee0a1.bbb56",
        "type": "buffer-parser",
        "z": "2526c01.e3cb34",
        "name": "M:Data8",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "byte",
                "name": "SOH",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Sta",
                "offset": 1,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Cmd",
                "offset": 2,
                "length": 2,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "STX",
                "offset": 4,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "DataNo",
                "offset": 5,
                "length": 2,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Data",
                "offset": 7,
                "length": 8,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "ETX",
                "offset": 15,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Chk",
                "offset": 16,
                "length": 2,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "object",
        "resultTypeType": "output",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 300,
        "y": 200,
        "wires": [
            [
                "8dc59b9f.3374d8",
                "bd9cfd8f.53102",
                "9a7d622d.2ece1"
            ]
        ]
    },
    {
        "id": "1b080179.7354bf",
        "type": "buffer-parser",
        "z": "2526c01.e3cb34",
        "name": "M:Data12",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "byte",
                "name": "SOH",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Sta",
                "offset": 1,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Cmd",
                "offset": 2,
                "length": 2,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "STX",
                "offset": 4,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "DataNo",
                "offset": 5,
                "length": 2,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Data",
                "offset": 10,
                "length": 12,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "ETX",
                "offset": 7,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Chk",
                "offset": 8,
                "length": 2,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "object",
        "resultTypeType": "output",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 300,
        "y": 240,
        "wires": [
            [
                "d118e8bc.5115a8",
                "bd9cfd8f.53102"
            ]
        ]
    },
    {
        "id": "e1687332.023c9",
        "type": "buffer-parser",
        "z": "2526c01.e3cb34",
        "name": "M:Data16",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "byte",
                "name": "SOH",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Sta",
                "offset": 1,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Cmd",
                "offset": 2,
                "length": 2,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "STX",
                "offset": 4,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "DataNo",
                "offset": 5,
                "length": 2,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Data",
                "offset": 7,
                "length": 16,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "ETX",
                "offset": 24,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Chk",
                "offset": 25,
                "length": 2,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "object",
        "resultTypeType": "output",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 300,
        "y": 280,
        "wires": [
            [
                "538ad41f.5b87ec",
                "bd9cfd8f.53102"
            ]
        ]
    },
    {
        "id": "666dfdf4.3ad5f4",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "M. 0|4|8|12|16",
        "func": "data=msg.payload.slice(7,-3);\n\nif (data.length==0){\n    return [msg, null, null, null,null];\n}else if (data.length==4){\n    return [null, msg, null, null, null];\n}else if (data.length==8){\n    return [null, null, msg, null, null];\n}else if (data.length==12){\n    return [null, null, null, msg, null];\n}else if (data.length==16){\n    return [null, null, null, null, msg];\n}",
        "outputs": 5,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 120,
        "y": 120,
        "wires": [
            [
                "5f8b00c2.a4e16"
            ],
            [
                "6883651.9b48b9c"
            ],
            [
                "c5dee0a1.bbb56"
            ],
            [
                "1b080179.7354bf"
            ],
            [
                "e1687332.023c9"
            ]
        ]
    },
    {
        "id": "4069043b.187f0c",
        "type": "debug",
        "z": "2526c01.e3cb34",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 490,
        "y": 160,
        "wires": []
    },
    {
        "id": "8dc59b9f.3374d8",
        "type": "debug",
        "z": "2526c01.e3cb34",
        "name": "M. Data8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 480,
        "y": 200,
        "wires": []
    },
    {
        "id": "d118e8bc.5115a8",
        "type": "debug",
        "z": "2526c01.e3cb34",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 490,
        "y": 240,
        "wires": []
    },
    {
        "id": "538ad41f.5b87ec",
        "type": "debug",
        "z": "2526c01.e3cb34",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 490,
        "y": 280,
        "wires": []
    },
    {
        "id": "1cdd4222.d0150e",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "Cmd==02",
        "func": "v = msg.payload.Cmd.value;\nif (v=='02'){\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 100,
        "y": 640,
        "wires": [
            [
                "21b8e978.13e986"
            ]
        ]
    },
    {
        "id": "21b8e978.13e986",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "02.xx",
        "func": "v = msg.payload.DataNo.value;\n\nif (v=='00'){\n    msg.data='00FF';\n    return msg;\n}\n\nif (v.match(/1[0-9]/)){\n    msg.data='0'.repeat(8);\n    return msg;\n}\n\nif (v.match(/2[0-9]/)){\n    msg.data='0'.repeat(16);\n    return msg;\n}\n\nif (v.match(/6[0-9]/)){\n    msg.data='0'.repeat(8);\n    return msg;\n}\n\nif (v=='70'){\n    //msg.data=' '+'0'.repeat(13)+'A0';\n    msg.data = ' ' + '0'.repeat(13) + 'C6';\n    return msg;\n}\n\nif (v.match(/9[0-1]/)){\n    msg.data='0'.repeat(8);\n    return msg;\n}\n\nif (v.match(/C[0]/)){\n    //msg.data='0'.repeat(4);\n    msg.data='0'.repeat(4);\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 110,
        "y": 680,
        "wires": [
            [
                "6f2429ec.db07b8"
            ]
        ]
    },
    {
        "id": "af9600df.f2a21",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "Cmd==35",
        "func": "v = msg.payload.Cmd.value;\nif (v=='35'){\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 500,
        "y": 540,
        "wires": [
            [
                "281bc662.df17ca"
            ]
        ]
    },
    {
        "id": "281bc662.df17ca",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "35.xx",
        "func": "v = msg.payload.DataNo.value;\nif (v.match(/0[0-9A-E]/)){\n    msg.data='0001' + '0'.repeat(12);\n    return msg;\n}\n\nif (v.match(/8[0-9A-E]/)){\n    msg.data='0001' + '0'.repeat(8);\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 510,
        "y": 580,
        "wires": [
            [
                "6f2429ec.db07b8"
            ]
        ]
    },
    {
        "id": "9cd53aea.5d9bb8",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "Cmd==33",
        "func": "v = msg.payload.Cmd.value;\nif (v=='33'){\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 500,
        "y": 440,
        "wires": [
            [
                "4b066309.42055c"
            ]
        ]
    },
    {
        "id": "4b066309.42055c",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "33.xx",
        "func": "v = msg.payload.DataNo.value;\nif (v.match(/1[0-5]/)){\n    msg.data='00FF';\n    return msg;\n}\n\nif (v.match(/2[0-5]/)){\n    msg.data='0'.repeat(4) + '01F5';\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 510,
        "y": 480,
        "wires": [
            [
                "6f2429ec.db07b8"
            ]
        ]
    },
    {
        "id": "2fd2d0d4.14b59",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "Cmd==00",
        "func": "v = msg.payload.Cmd.value;\nif (v=='00'){\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 100,
        "y": 440,
        "wires": [
            [
                "2970c450.ad69dc"
            ]
        ]
    },
    {
        "id": "9ba0bcb5.f5fba",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "Cmd==12",
        "func": "v = msg.payload.Cmd.value;\nif (v=='12'){\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 300,
        "y": 440,
        "wires": [
            [
                "8636cd5c.a20ce"
            ]
        ]
    },
    {
        "id": "8636cd5c.a20ce",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "12.x0",
        "func": "//c = msg.payload.Cmd.value;\n//n = msg.payload.DataNo.value;\n//v = n;\n//switch(v){\n//    case '00':\n//    case '40':\n//    case '60':\n//    case '80':\n//    case 'C0':\n//      msg.data='0000' + c + v;\n//      return msg;\n//}\nv = msg.payload.DataNo.value;\nif (v.match(/[0468C]0/)){\n    msg.data='0'.repeat(8);\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 290,
        "y": 480,
        "wires": [
            [
                "6f2429ec.db07b8"
            ]
        ]
    },
    {
        "id": "23f23cd9.9bb824",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "Cmd==05",
        "func": "v = msg.payload.Cmd.value;\nif (v=='05'){\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 100,
        "y": 840,
        "wires": [
            [
                "9d7817ae.002b68"
            ]
        ]
    },
    {
        "id": "9d7817ae.002b68",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "05.xx",
        "func": "v = msg.payload.DataNo.value;\nif (v.match(/0[C]/)) {\n    //msg.data = flow.get('84.0x')[i];\n    var i = parseInt(v, 16);\n    var g = parseInt(flow.get('85.0x')[0], 16);\n    var aa = flow.get('84.0x');\n    //msg.data = aa[g][i];\n    msg.data = '0'.repeat(8);\n    return msg;\n}\n\nif (v!=='00'){\n    msg.data='01FFF0' + v;\n    //msg.data = '0'.repeat(8);\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 110,
        "y": 880,
        "wires": [
            [
                "6f2429ec.db07b8"
            ]
        ]
    },
    {
        "id": "abcc933a.e9f52",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "Cmd==06",
        "func": "v = msg.payload.Cmd.value;\nif (v=='06'){\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 100,
        "y": 940,
        "wires": [
            [
                "9916f25.03c0f1"
            ]
        ]
    },
    {
        "id": "9916f25.03c0f1",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "06.xx",
        "func": "c = msg.payload.Cmd.value;\nv = msg.payload.DataNo.value;\nmsg.data='0000' + c + v;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 110,
        "y": 980,
        "wires": [
            [
                "6f2429ec.db07b8"
            ]
        ]
    },
    {
        "id": "6df5a619.591488",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "Cmd==07",
        "func": "v = msg.payload.Cmd.value;\nif (v=='07'){\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 100,
        "y": 1040,
        "wires": [
            [
                "d8304869.f451b8"
            ]
        ]
    },
    {
        "id": "d8304869.f451b8",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "07.xx",
        "func": "c = msg.payload.Cmd.value;\nv = msg.payload.DataNo.value;\nmsg.data='0000' + c + v;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 110,
        "y": 1080,
        "wires": [
            [
                "6f2429ec.db07b8"
            ]
        ]
    },
    {
        "id": "8a689913.23bcb8",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "Cmd==08",
        "func": "v = msg.payload.Cmd.value;\nif (v=='08'){\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 100,
        "y": 1140,
        "wires": [
            [
                "cc1c41f2.c4eb3"
            ]
        ]
    },
    {
        "id": "cc1c41f2.c4eb3",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "08.xx",
        "func": "c = msg.payload.Cmd.value;\nv = msg.payload.DataNo.value;\nif (v!=='00'){\n    msg.data='0'.repeat(8) + c + v;\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 110,
        "y": 1178,
        "wires": [
            [
                "6f2429ec.db07b8"
            ]
        ]
    },
    {
        "id": "203c5272.b6068e",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "Cmd==04",
        "func": "v = msg.payload.Cmd.value;\nif (v=='04'){\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 100,
        "y": 740,
        "wires": [
            [
                "3af2b41a.fcb21c"
            ]
        ]
    },
    {
        "id": "b4ad5305.4c058",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "Cmd==01",
        "func": "v = msg.payload.Cmd.value;\nif (v=='01'){\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 100,
        "y": 540,
        "wires": [
            [
                "8b0c1b49.8d2048"
            ]
        ]
    },
    {
        "id": "8b0c1b49.8d2048",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "01.xx",
        "func": "//c = msg.payload.Cmd.value;\n//n = msg.payload.DataNo.value;\n//v = parseInt(n, 16);\n//if (v>=0x00 && v<=0x0e){\n//    msg.data='0'.repeat(12) + c + n;\n//    return msg;\n//}\n\n//c = msg.payload.Cmd.value;\n//n = msg.payload.DataNo.value;\n//v = parseInt(n, 16);\n//if (v>=0x80 && v<=0x8e){\n//    msg.data='0'.repeat(8) + c + n;\n//    return msg;\n//}\n\nv = msg.payload.DataNo.value;\nif (v.match(/0[0-9A-E]/)){\n    msg.data='0'.repeat(16);\n    return msg;\n}\n\nif (v.match(/8[0-9A-E]/)){\n    msg.data='0'.repeat(16);\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 110,
        "y": 580,
        "wires": [
            [
                "6f2429ec.db07b8"
            ]
        ]
    },
    {
        "id": "1ed93eb6.f83181",
        "type": "debug",
        "z": "2526c01.e3cb34",
        "name": "Format Response",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 800,
        "wires": []
    },
    {
        "id": "6f2429ec.db07b8",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "Format Response",
        "func": "var sta = Buffer.from(msg.payload.Sta.value);\nvar err = Buffer.from('A');\nvar stx = Buffer.from([flow.get('STX')]);\nvar etx = Buffer.from([flow.get('ETX')]);\nvar data = Buffer.from(msg.data);\nvar content = Buffer.concat([sta, err, data, etx]);\nvar sum = function(prev, cur){return prev+cur;}\nvar checksum = content.reduce(sum) & 0xff;\nchk = Buffer.from(checksum.toString(16).toUpperCase());\nmsg.payload = Buffer.concat([stx, content, chk]);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1130,
        "y": 840,
        "wires": [
            [
                "1ed93eb6.f83181",
                "7228c952.4e3d08",
                "4e1e16c8.c0b818"
            ]
        ]
    },
    {
        "id": "7bc8cc12.a67ff4",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "Cmd==81",
        "func": "v = msg.payload.Cmd.value;\nif (v=='81'){\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 700,
        "y": 440,
        "wires": [
            [
                "a2369f87.ccd91"
            ]
        ]
    },
    {
        "id": "a2369f87.ccd91",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "81.00",
        "func": "v = msg.payload.DataNo.value;\n\nif (v=='00'){\n    msg.data='1EA5';\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 710,
        "y": 480,
        "wires": [
            [
                "6f2429ec.db07b8"
            ]
        ]
    },
    {
        "id": "d9e2a9af.599588",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "Cmd==85",
        "func": "v = msg.payload.Cmd.value;\nif (v=='85'){\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 700,
        "y": 640,
        "wires": [
            [
                "efbebc2b.1c26b"
            ]
        ]
    },
    {
        "id": "efbebc2b.1c26b",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "85.0x",
        "func": "v = msg.payload.DataNo.value;\n//var o;\nif (v.match(/0[0-3]/)){\n    msg.data='';\n\n    //o = flow.get('85.0x');\n    //o = {'DataNo':v, 'Data':msg.payload.Data.value};\n    //flow.set('85.0x', o);\n    \n    var i = parseInt(v, 16);\n    var a = flow.get('85.0x');\n    a[i] = msg.payload.Data.value;\n    flow.set('85.0x', a);\n    \n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 710,
        "y": 680,
        "wires": [
            [
                "6f2429ec.db07b8"
            ]
        ]
    },
    {
        "id": "3af2b41a.fcb21c",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "04.xx",
        "func": "v = msg.payload.DataNo.value;\nif (v.match(/0[1]/)){\n    //msg.data='0'.repeat(4);\n    msg.data=flow.get('85.0x')[0];\n    return msg;\n}\n\nif (v.match(/0[2]/)){\n    //msg.data='0002';\n    msg.data = flow.get(\"85.0x\")[1];\n    \n    //var i = parseInt(flow.get(\"85.0x\").DataNo);\n    //msg.data = flow.get(\"85.0x\")['Data'];\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 110,
        "y": 780,
        "wires": [
            [
                "6f2429ec.db07b8"
            ]
        ]
    },
    {
        "id": "26b78898.974a58",
        "type": "template",
        "z": "2526c01.e3cb34",
        "name": "Cmd w/o data",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "[{{payload.Cmd.value.0}}][{{payload.Cmd.value.1}}].[{{payload.DataNo.value.0}}][{{payload.DataNo.value.1}}]",
        "output": "str",
        "x": 680,
        "y": 40,
        "wires": [
            [
                "c0040bae.e9a918",
                "5b97fca2.8dd974"
            ]
        ]
    },
    {
        "id": "c0040bae.e9a918",
        "type": "debug",
        "z": "2526c01.e3cb34",
        "name": "In Frame",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 860,
        "y": 40,
        "wires": []
    },
    {
        "id": "bd9cfd8f.53102",
        "type": "template",
        "z": "2526c01.e3cb34",
        "name": "Cmd w/ data",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "[{{payload.Cmd.value.0}}][{{payload.Cmd.value.1}}].[{{payload.DataNo.value.0}}][{{payload.DataNo.value.1}}] {{payload.Data.name}}={{payload.Data.value}}",
        "output": "str",
        "x": 670,
        "y": 80,
        "wires": [
            [
                "c0040bae.e9a918",
                "5b97fca2.8dd974"
            ]
        ]
    },
    {
        "id": "be9ff98.9c5d708",
        "type": "buffer-parser",
        "z": "2526c01.e3cb34",
        "name": "S. Data4",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "byte",
                "name": "STX",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Sta",
                "offset": 1,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Err",
                "offset": 2,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Data",
                "offset": 3,
                "length": 4,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "ETX",
                "offset": 7,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Chk",
                "offset": 8,
                "length": 2,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "object",
        "resultTypeType": "output",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 900,
        "y": 200,
        "wires": [
            [
                "5d980abe.eabde4"
            ]
        ]
    },
    {
        "id": "7228c952.4e3d08",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "S. 0|4|8|12|16",
        "func": "data=msg.payload.slice(3,-3);\n\nif (data.length==0){\n    return [msg, null, null, null,null];\n}else if (data.length==4){\n    return [null, msg, null, null, null];\n}else if (data.length==8){\n    return [null, null, msg, null, null];\n}else if (data.length==12){\n    return [null, null, null, msg, null];\n}else if (data.length==16){\n    return [null, null, null, null, msg];\n}",
        "outputs": 5,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 700,
        "y": 240,
        "wires": [
            [
                "92d0db52.25bfd8"
            ],
            [
                "be9ff98.9c5d708"
            ],
            [
                "c82436d9.fccca8"
            ],
            [
                "321ce2f8.c34b7e"
            ],
            [
                "9d6f5cf9.c7dd9"
            ]
        ]
    },
    {
        "id": "c82436d9.fccca8",
        "type": "buffer-parser",
        "z": "2526c01.e3cb34",
        "name": "S. Data8",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "byte",
                "name": "STX",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Sta",
                "offset": 1,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Err",
                "offset": 2,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Data",
                "offset": 3,
                "length": 8,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "ETX",
                "offset": 11,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Chk",
                "offset": 12,
                "length": 2,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "object",
        "resultTypeType": "output",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 900,
        "y": 240,
        "wires": [
            [
                "5d980abe.eabde4"
            ]
        ]
    },
    {
        "id": "321ce2f8.c34b7e",
        "type": "buffer-parser",
        "z": "2526c01.e3cb34",
        "name": "S. Data12",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "byte",
                "name": "STX",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Sta",
                "offset": 1,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Err",
                "offset": 2,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Data",
                "offset": 3,
                "length": 12,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "ETX",
                "offset": 15,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Chk",
                "offset": 16,
                "length": 2,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "object",
        "resultTypeType": "output",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 900,
        "y": 280,
        "wires": [
            [
                "5d980abe.eabde4"
            ]
        ]
    },
    {
        "id": "9d6f5cf9.c7dd9",
        "type": "buffer-parser",
        "z": "2526c01.e3cb34",
        "name": "S. Data16",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "byte",
                "name": "STX",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Sta",
                "offset": 1,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Err",
                "offset": 2,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Data",
                "offset": 3,
                "length": 16,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "ETX",
                "offset": 19,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Chk",
                "offset": 20,
                "length": 2,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "object",
        "resultTypeType": "output",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 900,
        "y": 320,
        "wires": [
            [
                "5d980abe.eabde4"
            ]
        ]
    },
    {
        "id": "92d0db52.25bfd8",
        "type": "buffer-parser",
        "z": "2526c01.e3cb34",
        "name": "S. Data0",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "byte",
                "name": "STX",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Sta",
                "offset": 1,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Err",
                "offset": 2,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "byte",
                "name": "ETX",
                "offset": 3,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            },
            {
                "type": "ascii",
                "name": "Chk",
                "offset": 4,
                "length": 2,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "object",
        "resultTypeType": "output",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 900,
        "y": 160,
        "wires": [
            [
                "f5613a1d.743a78"
            ]
        ]
    },
    {
        "id": "5d980abe.eabde4",
        "type": "template",
        "z": "2526c01.e3cb34",
        "name": "Err w/ data",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.Err.name}}={{payload.Err.value}} {{payload.Data.name}}={{payload.Data.value}}",
        "output": "str",
        "x": 1090,
        "y": 200,
        "wires": [
            [
                "bdf28f1c.6b562",
                "42dc1e50.bbca9"
            ]
        ]
    },
    {
        "id": "f5613a1d.743a78",
        "type": "template",
        "z": "2526c01.e3cb34",
        "name": "Err w/o data",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.Err.name}}={{payload.Err.value}}",
        "output": "str",
        "x": 1090,
        "y": 160,
        "wires": [
            [
                "bdf28f1c.6b562",
                "42dc1e50.bbca9"
            ]
        ]
    },
    {
        "id": "bdf28f1c.6b562",
        "type": "debug",
        "z": "2526c01.e3cb34",
        "name": "Out Frame",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1290,
        "y": 160,
        "wires": []
    },
    {
        "id": "59386d44.566e14",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "Cmd==8B",
        "func": "v = msg.payload.Cmd.value;\nif (v=='8B'){\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 700,
        "y": 740,
        "wires": [
            [
                "696b778a.1fd128"
            ]
        ]
    },
    {
        "id": "696b778a.1fd128",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "8B.00",
        "func": "v = msg.payload.DataNo.value;\n\nif (v=='00'){\n    msg.data='';\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 710,
        "y": 780,
        "wires": [
            [
                "6f2429ec.db07b8"
            ]
        ]
    },
    {
        "id": "10d4a47a.3363fc",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "No Data",
        "func": "v = msg.payload.DataNo.value;\n\nmsg.data='';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 900,
        "y": 480,
        "wires": [
            [
                "6f2429ec.db07b8"
            ]
        ]
    },
    {
        "id": "d7a4ad2.42aab5",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "Cmd==90",
        "func": "v = msg.payload.Cmd.value;\nif (v=='90'){\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 900,
        "y": 440,
        "wires": [
            [
                "10d4a47a.3363fc"
            ]
        ]
    },
    {
        "id": "804ecdb.fdffe3",
        "type": "debug",
        "z": "2526c01.e3cb34",
        "name": "EOT",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 850,
        "y": 100,
        "wires": []
    },
    {
        "id": "bbd2454.ca4c3b8",
        "type": "inject",
        "z": "2526c01.e3cb34",
        "name": "Toggle Tx",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Toggle Tx",
        "payload": "",
        "payloadType": "date",
        "x": 1400,
        "y": 940,
        "wires": [
            [
                "4e1e16c8.c0b818"
            ]
        ]
    },
    {
        "id": "4e1e16c8.c0b818",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "Tx Switch",
        "func": "var v = context.get('DisableTx');\n\nif (msg.topic=='Toggle Tx'){\n    if (!v)\n        node.status({fill:\"red\",shape:\"ring\",text:\"disconnected\"});\n    else\n        node.status({fill:\"green\",shape:\"dot\",text:\"connected\"});\n        \n    context.set('DisableTx', !v);\n}else if (!v){\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"DisableTx\", false);\nnode.status({fill:\"green\",shape:\"dot\",text:\"connected\"});",
        "finalize": "",
        "x": 1100,
        "y": 880,
        "wires": [
            [
                "fe23cbaf.cca308"
            ]
        ]
    },
    {
        "id": "2970c450.ad69dc",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "00.xx",
        "func": "v = msg.payload.DataNo.value;\n\nif (v=='01'){\n    //msg.data='0000';\n    msg.data='0001';\n    return msg;\n}\n\nif (v=='12'){\n    msg.data='0004';\n    return msg;\n}\n\nif (v.match(/2[0-9]/)) {\n    switch(v){\n        case '20':\n            msg.data = '0'.repeat(4);\n            break;\n        case '28':\n            msg.data = '0'.repeat(4);\n            break;        \n        default:\n            msg.data = '0'.repeat(8);\n            break;\n    }\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 110,
        "y": 480,
        "wires": [
            [
                "6f2429ec.db07b8"
            ]
        ]
    },
    {
        "id": "9a7d622d.2ece1",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "Cmd==84",
        "func": "v = msg.payload.Cmd.value;\nif (v=='84'){\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 700,
        "y": 540,
        "wires": [
            [
                "d8ac1b2c.10d1b8"
            ]
        ]
    },
    {
        "id": "d8ac1b2c.10d1b8",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "84.0x",
        "func": "v = msg.payload.DataNo.value;\n\nif (v.match(/0[0-9A-C]/)){\n    msg.data='';\n    var i = parseInt(v, 16);\n    var g = parseInt(flow.get('85.0x')[0], 16);\n    var aa = flow.get('84.0x');\n    aa[g][i] = msg.payload.Data.value;\n    flow.set('84.0x', aa);\n    \n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 710,
        "y": 580,
        "wires": [
            [
                "6f2429ec.db07b8"
            ]
        ]
    },
    {
        "id": "42dc1e50.bbca9",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "mrj3Tx",
        "func": "msg.topic = \"mrj3Tx\";\n\nvar moment = global.get('moment');\nvar t = moment().format('H:mm:ss');\n\nmsg.payload = t + ' Res: ' + msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1110,
        "y": 80,
        "wires": [
            [
                "d28946a5.e09c18"
            ]
        ]
    },
    {
        "id": "5b97fca2.8dd974",
        "type": "function",
        "z": "2526c01.e3cb34",
        "name": "mrj3Rx",
        "func": "msg.topic = \"mrj3Rx\";\n\nvar moment = global.get('moment');\nvar t = moment().format('H:mm:ss');\n\nmsg.payload = t + ' Cmd: ' + msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1120,
        "y": 40,
        "wires": [
            [
                "d28946a5.e09c18"
            ]
        ]
    },
    {
        "id": "d28946a5.e09c18",
        "type": "mqtt out",
        "z": "2526c01.e3cb34",
        "name": "mqtt@localhost",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "fb69a6a5.d14a",
        "x": 1300,
        "y": 40,
        "wires": []
    }
]